@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary" href="#modal1" data-toggle="modal" data-target="#modal1">Show Modal Window 1</a>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Modal1Partial");

@section Scripts
{
    <script src="js/modal1.js"></script>
}
